* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slides {
  margin: 0.5rem;
}

.slides .mySlides img {
  height: 20rem;
  width: auto;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: var(--text-color);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: var(--text-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--dot);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--dot-hover);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.products, .filters {
  background-color: var(--white);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--border);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
}
/* 
.filters {
  flex-direction: column;
}

.filters section {
  display: flex;
} */

.card {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}


.child-card {
  background-color: var(--child-card);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 15rem;
  width: 15rem;
}

.child-card span {
  height: 4rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: absolute;
  bottom: 0;
  display: none;
}

.child-card img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.child-card img:hover  .child-card span, .child-card img:hover {
  background-color: rgba(0, 0, 0, 0.5);;
  cursor: pointer;
  height: 12rem;
  display: flex;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
