#product .card, #product .details {
  margin: 2rem 15rem;
}

#product .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#product .icon .add-to-cart i {
  margin-top: 2rem !important;
}

#product .details {
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#product .suggested-products {
  display: flex;
  margin: 1rem 4rem;
  border-top: 1px solid grey;
  overflow-x: auto;
}

#product .suggested-products .card {
  margin: 1rem;
  height: 15rem;
  width: 15rem;
}

#product h3 {
  color: var(--black);
  margin: 1rem 4rem;
}
